* {
    margin: 5px;
}

.container1 {
    display: flex;
    justify-content: space-between;
}

.hujnia, .odiKlass, .desKlass, .geoma  {
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-template-columns: max-content max-content max-content max-content;
    column-gap: 20px;
    row-gap: 30px;
}

.hujnia .item, .odiKlass .item, .desKlass .item, .geoma .item {
    font-size: 25px;
    text-align: center;
}

.hdr {
    /* margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px; */
    font-size: 30px;
    color: brown;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.byebye {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color:black;
}

button {
    color: cadetblue;
    background-color:papayawhip;
    border-style:solid;
    border-radius: 5px;
    
}

button:hover{
    background-color:limegreen;
    color: red;
    transition: 0.5s;
    cursor:pointer;
}